# yamllint disable rule:comments-indentation
---
{% if authelia_theme %}
theme: {{ authelia_theme | to_json }}
{% endif %}
default_2fa_method: {{ authelia_default_2fa }}
server:
  address: "tcp://:9091/"
{% if authelia_assets %}
  asset_path: {{ authelia_assets | to_json }}
{% endif %}

  # read_only rootfs: authelia's healthcheck writes state to /app/.healthcheck.env
  disable_healthcheck: {{ authelia_hardening.authelia.read_only | default(false) | to_json }}

  endpoints:
    authz:
      {{ authelia_authz_endpoints | to_nice_yaml(sort_keys=False) | indent(6) }}
log:
  level: {{ authelia_log_level }}

totp:
  disable: false
  issuer: "{{ authelia_subdomain }}.{{ authelia_domain }}"

webauthn:
  disable: false
  enable_passkey_login: true

identity_validation:
  reset_password: {}

ntp:
  address: {{ authelia_ntp }}

definitions:
  network:
    {{ authelia_network_definitions | to_nice_yaml(sort_keys=False) | indent(4) }}
authentication_backend:
  password_change:
    disable: false
  password_reset:
    disable: false

  refresh_interval: "5 minutes"

  ldap:
    {{ authelia_ldap | to_nice_yaml(sort_keys=False) | indent(4) }}
password_policy:
  zxcvbn:
    enabled: true

access_control:
  default_policy: {{ authelia_acl_default_policy | to_json }}

  rules:
    {{ authelia_acl_rules | to_nice_yaml(sort_keys=False) | indent(4) }}
session:
  cookies:
    - domain: {{ authelia_domain | to_json }}
      authelia_url: "https://{{ authelia_subdomain }}.{{ authelia_domain }}"

{% if authelia_redis_enabled %}
  redis:
    {{ authelia_redis | to_nice_yaml(sort_keys=False) | indent(4) }}
{% endif %}

storage:
{% if authelia_storage_backend == 'postgres' %}
  postgres:
    {{ authelia_storage_postgres | to_nice_yaml(sort_keys=False) | indent(4) }}
{% else %}
  local:
    path: /config/db.sqlite3
{% endif %}
notifier:
  smtp:
    {{ authelia_smtp | to_nice_yaml(sort_keys=False) | indent(4) }}
identity_providers:
  oidc:
    jwks:
      - key: {{ authelia_oidc_jwks_private_key | to_json }}

    authorization_policies:
      default:
        default_policy: 'two_factor'
        rules:
          - policy: 'one_factor'
            subject: 'group:services'
            networks:
              - 'internal'

    cors:
      allowed_origins:
        - "https://{{ authelia_domain }}"

      allowed_origins_from_client_redirect_uris: false

    clients:
      {{ authelia_oidc_clients | to_nice_yaml(sort_keys=False) | indent(6) }}
